.contai {
  padding: 50px;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.file-table th, .file-table td {
  padding: 15px;
  padding-right: 2.8rem;
  text-align: center;
  align-items: center;
}
.file-table i {
  font-size: 20px;
  color: #007bff;
}

.archivo:hover {
  background-color: rgba(128, 128, 128, 0.329);
  cursor: pointer;
}
#excel::before
{
  color: green;
  font-size: 1.5rem;
}
#word::before
{
  color: blue;
  font-size: 1.5rem;
}
#pdf::before
{
  color: red;
  font-size: 1.5rem;
}
#image::before
{
  color: red;
  font-size: 1.5rem;
}
#folder::before
{
  font-size: 1.5rem;
}